@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Breathing';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Breathing.ttf') format('truetype');
}

.breathing {
  font-family: 'Breathing' !important;
}


.fondo-rosa {
  /* background-color: #fff1f1; */
  background-color: #ffd5de;
}

.fondo-rosa-2 {
  background-color: #f6aac1;
}

.texto-rosa{
  color: #f6aac1;
}


.borde-rosa{
  outline: 1px solid #f6aac1;
}

.texto-rojo {
  color: #e7191f;
}

.main-button {
  outline: 2px solid transparent;
  transition: all 0.3s;
}

.main-button:hover {
  /* background-color: #e7191f !important;
  color: #f6aac1 !important; */
  color: white !important;
  transition: all 0.3s;
}

.headbar-desktop {
  display: flex;
}

.headbar-mobile {
  display: none;
}

.hero-desktop {
  display: block;
}
.hero-mobile {
  display: none;
}

@media (max-width: 1385px) {
  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    display: block;
    background-image: url('/fondo-mobile.png');
    background-size: cover;
    background-position: center;

  }
}


@media (max-width: 800px) {
  .headbar-desktop {
    display: none;
  }

  .headbar-mobile {
    display: flex;
  }
}

.test {
  border: 1px solid blue;
}

.flip-container {
  perspective: 1000px;
  width: 330px;
  height: 550px;
}

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container.hover>* {
  background-color: #f6c1d1;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 7%;
  left: 7%;
  width: 85%;
  height: 85%;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.shadow-custom {
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
}

.fondo-corazon {
  background-image: url('/patron.png');
  background-size: 400px;
  background-repeat: repeat;
  background-position: center;
}

.opcion-cuestionario *{
 cursor: pointer !important; 
}

.file-upload {
  position: relative;
  display: inline-block;
}

.file-input {
  display: none; /* Oculta el input real */
}

/* Estilo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el modal esté sobre otros elementos */
}

/* Estilo del contenido del modal */
.modal-content {
  position: relative;
  background:#ffe7ec ;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

/* Estilo del video */
.modal-content video {
  width: 100%;
  height: auto;
}

/* Estilo del botón de captura */
.modal-content button {
  margin: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f6aac1;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.modal-content button:hover {
  background-color: #f6c1d1;
  transition: all 0.3s;
}

/* Estilo del botón de cerrar */
.modal-content button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
}

@keyframes loading {
  0% {
      content: '';
  }
  33% {
      content: '.';
  }
  66% {
      content: '..';
  }
  100% {
      content: '...';
  }
}

.loading-text::after {
  content: 'Enviando formulario';
  animation: loading 1s steps(4, end) infinite;
}

.rotate-animation {
  display: inline-block; /* Necesario para aplicar la animación correctamente */
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.contact-hover *{
  transition: all 0.3s;
}
.contact-hover:hover > *{	
  transition: all 0.3s;
translate: 5px;
}